body {
    font-family: Arial;
}

#increase{    
    background-color: lightgray;
    border-radius: 5px;
    border-width: 1px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, .5);
}
#increase:hover{
    opacity: 80%;   
}
#increase:active{
    opacity: 60%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
    margin-top: 2px;
    margin-left: 2px;
}

#button-wrapper {
    display: flex;
    justify-content: center;
    /* border-style: solid; */
}
#score {
    display: flex;
    justify-content: center;
}
#buyingOption {
    display: flex;
    margin: auto;
    width: auto;
    opacity: 0;
}
.buyingOptionDiv {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}
#dialogue {
    font-size: 20px;
}
.dialogueDiv {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}