body {
    font-family: Arial;
}
#income {
    display: flex;
    justify-content: center;
}
#rebirthButton {
    opacity: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}
#dayCounter {
    display: flex;
    justify-content: center;
}
.moneyTitle {
    display: flex;
    justify-content: center;
    margin-bottom: -12px;
}

#button{
    color: black;
    background-color: darkgray;
    border-radius: 5px;
    border-width: 0px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, .5);
    outline-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
#button:hover{
    opacity: 80%;
    color: white;
}
#button:active{
    opacity: 60%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    margin-left: 15px;
    margin-top: 15px;
}

#button-wrapper {
    display: flex;
    justify-content: center;
}
#scoreDiv {
    display: flex;
    justify-content: center;
}
#score {
    margin-left: 30px;
}
#moneyLostPerDayLabel {
    color: green;
    margin-left: 10px;
    margin-top: 32px;
    opacity: 0;
}
#buyingOption {
    display: flex;
    margin: auto;
    width: auto;
    opacity: 0;
}
#passOption {
    position: absolute;
    left: 53%;
    opacity: 0;
}
#buyingOptionText {
    opacity: 0;
    display: flex;
    justify-content: center;
    margin-top: -5px;
}
.buyingOptionDiv {
    display: flex;
    justify-content: center;
}
#dialogue {
    font-size: 20px;
}
.dialogueDiv {
    display: flex;
    justify-content: center;
}
@keyframes simpleFadeIn {
    0% {opacity: 100%;}
    25% {opacity: 75%}
    50% {opacity: 50%;}
    75% {opacity: 25%;}
    100% {opacity: 0;}
}